a { color: #C7C7C7; }
a:hover { color: #C7C7C7; text-decoration: none; }
.col-centered{ float: none; margin: 0 auto; }
body { font-size: 0.9em; }

/** Menu */
.navbar { color: #BCBCBC; font-size: 20px; }
.left-navbar {
    position: fixed;
    left:0px;
    top:250px;
    background: #f1f1f1;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index:1001;
}
.left-navbar a {color: #878484;}
.left-navbar a:hover, .left-navbar a.active {color: #637BF7;}
.left-navbar .profile {width: 160px;}
.left-navbar .profile img {width:50px;height: 50px; border-radius: 25px; overflow: hidden;}

/** Hakkımızda */
.project-content {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #707070;
    padding: 0px 0px 20px 0px;
}
.project-content > h1{
    background: red;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height:63px;
    font-size: 25px;
    padding: 20px 0px 20px 30px;
}
.project-content > .content {
    padding: 0px 30px;
    max-height: 709px;
    overflow-y: scroll;
}

/** Avatar Card */
.avatar-card { text-align: center; }
.avatar-card, .avatar-card a { color: #828282; font-weight: bold; }
.avatar-card, .avatar-card a:hover { text-decoration: none; }

.avatar-card > .avatar > img { width:141px; height: 141px; }

.avatar-card > .avatar {
    border: 1px solid #707070;
    border-radius: 50%;
    padding: 0px;
    display: block;
    width: 141px;
    height: 141px;
}

.avatar-card > .avatar > .online-status {
    display:block;
    position:absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: 113px;
    margin-left: 116px;
}
.avatar-card > .avatar > .online-status, .avatar-card > .avatar > .online-status.online { background: #4BFF00; }
.avatar-card > .avatar > .online-status.offline { background: #EC4D3B; }

.avatar-card.avatar-card-sm > .avatar { width:80px; height: 80px; padding: 11px; }
.avatar-card.avatar-card-sm > .avatar > img {  width:57px; height: 57px; }
.avatar-card.avatar-card-sm > .avatar > .online-status { margin-top:52px; margin-left: 52px; width:9px; height: 9px; }


/** Profile Page **/
.profile-stars i { color:#fbc30f; font-size: 1.5em; }
.profile-menu { font-size: 1.2em; font-weight: bold; border-bottom: 2px #EFEFEF solid; height:57px; }
.profile-menu a { color: #BDBCC2; }
.profile-menu > ul { list-style: none; }
.profile-menu > ul > li { float:left; display:block; padding: 1em 1.5em 1em 0.5em; }
.profile-menu > ul > li:hover, .profile-menu > ul > li.active { border-bottom: 2px #FF7346 solid; }
.profile-menu > ul > li:hover > a, .profile-menu > ul > li.active > a { color: #242134; }


/** Search Box */
.search-form .form-control {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 1em 0.7rem rgba(106, 106, 106, 0.13);
    height:50px;
    width:90%;
}

.search-form .form-button {
    margin-left: -20px;
    border-radius: 40px;
    height:50px;
    width:50px;
}

/** Home Page */
.homepage-boxes {
    color: #BCBCBC;
    font-size: 13px;
}

/** Notification */
.notification .content { min-height:80px; padding:20px; }

/** ROUNDED BOX */
.rounded-box { border: 1px solid #707070; background: #fff; border-radius: 40px; }

/** Documents */
.doc-list .doc-item {
    width:270px;
    height:400px;
    overflow: hidden;
    border: 1px solid #637BF7;
    border-radius: 20px;
    padding:10px;
    background: white;
}

.doc-list .doc-item .preview img {
    width: 250px;
    height: 330px;
}

.doc-list .doc-item .profile-image img {
    width: 60px;
    height: 60px;
}

.doc-list .doc-item .profile-image {
    position:absolute;
    margin-left: 180px;
    margin-right:20px;
    margin-top:10px;
    background: white;
    border: 1px solid #637BF7;
    border-radius: 40px;
    overflow:hidden;
}

.doc-list .doc-item .actions {
    margin-top:15px;
    margin-left:10px;
}
.doc-list .doc-item .actions a {
    margin-right: 10px;
}

/** ICONS */
.fax {
    width: 20px;
    height: 20px;
    content: ' ';
    line-height: 1;
    display: inline-block;
}

.fax-home {
    background-image: url('../images/icons.png');
    background-position: -67px -93px;
    background-repeat: no-repeat;
}
.fax-about {
    background-image: url('../images/icons.png');
    background-position: -498px -354px;
    background-repeat: no-repeat;
}
